<%= form_for(@kecheng) do |f| %>
  <% if @kecheng.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kecheng.errors.count, "error") %> prohibited this kecheng from being saved:</h2>

      <ul>
      <% @kecheng.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :teacher %><br>
    <%= f.text_field :teacher %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.text_field :time %>
  </div>
  <div class="actions">
    <%= f.submit "Create Course"%>
  </div>
<% end %>
